@import "../../../styles/index.scss";

.selectGender{
    display: flex;
    justify-content: space-between;
    width: calc(100px * 2 + 15px);
    height: 35px;
    
    .gender{
        position: relative;
        width: 100px;
        height: 35px;
        border: none;
        
        background-color: transparent;
        border: 1px solid $white-1;
        color: $white-1;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background-color: $white-1;
            mix-blend-mode: difference;
            transition: .4s;
        }

        &:hover{
            cursor: pointer;
            &::after{
                height: 100%;
            }
        }
    }
}