@import '/src/styles/index.scss';

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background-color: $grey-1;
    
    .footer__container{
        display: flex;
        gap: 30px;
        width: calc(100% - 2em);
        max-width: 1500px;
        padding: 2.5em 0;
        h2{
            color: $green-1;
            font-size: 1.2em;
            font-weight: 500;
        }
        a{
            line-height: 26px;
            text-decoration: none;
            color: $grey-3;
            transition: .5s;
            &:hover{
                cursor: pointer;
                color: $white-2;
            }
        }
        span{
            line-height: 16px;
            text-decoration: none;
            color: $white-2;
            font-size: .8em;
        }
        ul{
            list-style: none;
        }
        .footer__col{
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            gap: 15px;
            
            img{
                width: 45px;
                filter: invert(1);
            }

            
        }
    }
}