@import '../../styles/index.scss';

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    padding: 20px 0;
    background-color: $grey-2;
    .categories__container{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: calc(100% - 6em);
        max-width: 1800px;
        height: fit-content;
        font-weight: 100;
    }
}

