@import '../../styles/index.scss';

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100px;
    background-color: red;
    .categories__container{
        width: calc(100% - 6em);
    }
}