@import '../../styles/index.scss';

.header__anchors{
    position: relative;
    color: $white-2;
    font-size: 1.2em;
    text-decoration: none;
    padding: 3px 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3s;

    &:hover{
        color: $white-1;
    }

}

.button--1{
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 6px 15px;
    border-radius: 3px;
    color: $white-2;
    border: 1px solid $white-2;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
    transition: .3s;
    &:hover{
        color: $white-1;
        border: 1px solid $white-1;
    }
}
