@import '../../styles/index.scss';

.header__anchors{
    position: relative;
    color: $grey-1;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 0;
    
    &::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 0%;
        background-color: $grey-1;
        right: 0;
        bottom: 0;
        transition: .4s;
    }
    &:hover{
        &::after{
            width: 50%;
        }
    }
}