@keyframes circularRotation__one {
    0%{
        transform: translate(-40%, -50%) rotate(0deg);
        height: 450px;
        border-color: #fff;
    }

    25%{
        border-color: #2b2b2b00;
    }

    50%{
       height: 500px;
       border-color: #fff;
    }

    75%{
        border-color: #2b2b2b00;
    }

    100%{
        transform: translate(-40%, -50%) rotate(-360deg);
        height: 450px;
        border-color: #fff;
    }
}

@keyframes circularRotation__two {
    0%{
        transform: translate(-40%, -50%) rotate(0deg);
        height: 400px;
        border-color: #5c5c5c;
    }

    25%{
        border-color: #fff;
    }
    50%{
       height: 450px;
       border-color: #5c5c5c;
    }

    75%{
        border-color: #fff;
    }

    100%{
        transform: translate(-40%, -50%) rotate(-360deg);
        height: 400px;
        border-color: #5c5c5c;
    }
}

@keyframes circularRotation__three {
    0%{
        transform: translate(-40%, -50%) rotate(0deg);
        height: 350px;
        border-color: #fff;
    }

    25%{
        border-color: #2b2b2b00;
    }

    50%{
       height: 400px;
       border-color: #fff;
    }

    75%{
        border-color: #2b2b2b00;
    }
    
    100%{
        transform: translate(-40%, -50%) rotate(360deg);
        height: 350px;
        border-color: #fff;
    }
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}