@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

$grey-1: #0e0e0e;
$grey-2: #181818;
$white-1:#f5f5f5;
$white-2:#aaa9a9;
$blue-1: #acacac;