@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import '/src/styles/globalStyles.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
.title{
    font-family: 'Work Sans', sans-serif;
    &.one{
        font-size: 4em;
        font-weight: 700;
    }
    &.two{
        font-size: 2em;
        font-weight: 600;
        
        &.accent{
            color: $accent;
            
        }
    }
    &.three{
        font-size: 1.3em;
        font-weight: 600;
    }
    &.four{
        font-size: 1.5em;
        font-weight: 400;
    }
}

.product-font{
    font-family: 'Poppins', sans-serif;
    &.title{
        font-size: 1.4em;
        font-weight: 500;
        line-height: 22px;
        &.category{
            font-size: 2em;
        }
    }
    &.price{
        font-size: 1.6em;
        line-height: 28px;
        color: $secondary;
    }

    &.lastprice{
        font-size: 1em;
        text-decoration: line-through;
        color: $primary;
    }
    &.offer{
        font-size: .6em;
        color: $secondary;
        font-weight: 300;
        line-height: 10px;
    }

    &.collection{
        font-family: 'Work Sans', sans-serif;
        font-size: 1em;
        font-weight: 700;
        line-height: 16px;
        color: $accent;
    }
}

.modal-font{
    font-family: 'Poppins', sans-serif;
    &.title{
        color: $background;
        line-height: 36px;
        font-size: 2em;
        font-weight: 500;
    }

    &.collection{
        font-family: 'Work Sans', sans-serif;
        font-size: 1em;
        font-weight: 700;
        color: $background;
    }
}