@import "../../../../styles/index.scss";

.ratingSection{
    width: 100vw;
    height: 90%;
    max-width: 1000px;
    background-color: $white-1;
    border: 1px solid $grey-1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
}