@import '/src/styles/index.scss';

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 130px);
    padding: 16.25px 0;
    background-color: $primary;
    border-radius: 10px;
    
}