@import '/src/styles/index.scss';

main{
    display: flex;
    flex-direction: column;
    width: calc(100% - 130px);
}

#contain1{
    background-image: url(/src/assets/img/contain1.jpg);
}

#contain2{
    background-image: url(/src/assets/img/contain2.jpg);
}