@import "../../../styles/index.scss";
@import "../../../styles/animations.scss";

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $grey-2;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    .main__shape{
        position: absolute;
        max-width: 1200px;
        opacity: 5%;
        user-select: none;
    }
    .main__containerGroup{
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 6em);
        height: 65%;
        max-width: 1500px;
        h1,p{
            color: $green-1;
        }
        p{
            text-align: right;
        }
        .container__subtitle{
            align-self: flex-end;
        }
    }
}




