@import "../../../styles/index.scss";
@import "../../../styles/animations.scss";

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    
    .mainHome__title{
        display: flex;
        align-items: center;
        gap: 30px;
       img{
            width: 75px;
            
       }
       h1{
        background: linear-gradient(
        to right,
        #1b1b1b 10%,
        #747474 30%,
        #1b1b1b 60%,
    );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 500% auto;
        animation: textShine 2s linear infinite;
        }

        line-height: 30px;
    }

    .mainHome__person{
        position: absolute;
        
        

        
    }

    
}




