@import '../../styles/index.scss';

header{
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
    background-color: $grey-1;
    backdrop-filter: blur(15px);

   
    .header__logo{
        margin-left: 3em;
        width: 120px;
        height: 70px;
        background: transparent url(../../assets/img/LogomarcaV1.svg) center no-repeat;
        background-size: contain;
        filter: invert(1);
        opacity: 70%;
        transition: .5s;
        &:hover{
            opacity: 100%;
        }
    }
    .header__anchors{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .header__buttonsRight{
        position: relative;
        display: flex;
        margin-right: 3em;
        gap: 20px;
    }
}