@import '../../styles/index.scss';

header{
    position: absolute;
    left: 50%;
    translate: -50%;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
    max-width: calc(1500px + 6em);
    .header__logo{
        width: 120px;
        height: 70px;
        background: transparent url(../../assets/img/LogomarcaV1.svg) center no-repeat;
        background-size: contain;
        opacity: 100%;
        transition: .5s;
        margin-left: 3em;
        filter: invert(1);
        &:hover{
            opacity: 70%;
            cursor: pointer;
        }
    }
    .header__anchors{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        
    }
    .header__buttonsRight{
        position: relative;
        display: flex;
        margin-right: 3em;
        gap: 20px;
        filter: invert(1);
    }
}