header{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
    .header__logo{
        margin-left: 3em;
        width: 140px;
        height: 70px;
        background: transparent url(../../assets/img/logotipo-verside.png) center no-repeat;
        background-size: contain;
    }
    .header__anchors{
        display: flex;
        justify-content: space-between;
        margin-right: 3em;
        gap: 30px;
    }
}