@import "../../styles/index.scss";

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: red;
    .mainHome__title{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        width: 300px;
        h1{
            display: inline-block;
            font-size: 4em;
            line-height: 1em;
            color: $white-1;
        }
    }
    
}