@import "../../styles/index.scss";

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .mainHome__title{
        position: relative;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 500px;
        height: 200px;
        background-color: red;
        padding: 10px;
        h1{
            display: inline-block;
            font-size: 4em;
            line-height: .8em;
            color: $white-1;
        }
    }
    
}