@import '../../../styles/index.scss';

.categories__selectAll{
    background-color: transparent;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    border: 1px solid $white-1;
    color: $white-1;
    font-size: 1em;
    transition: .3s;
    span{
        display: flex;
        gap: 8px;
        svg{
            transform: translateY(2px);

        }
    }
   
    &:hover{
        cursor: pointer;
        border: 1px solid $green-1;
        color: $green-1;
    }
}