@import '/src/styles/index.scss';

body{
    background-color: $background;
}

@media (max-width: 780px){
    #shape1{
        visibility: hidden;
    }
}

@media (max-width: 991.98px){
    .home__main{
        width: calc(100% - 30px);
        
    }

    #productSection{
        width: calc(100% - 30px);
    }

    #footer__container{
        width: calc(100% - 30px);
        gap: 15px;
    }

    #banner__home{
        width: calc(100% - 30px);
        height: calc(100vh - 295px);
        border-radius: 15px;
        img{
            border-radius: 0;
        }
    }

    #main__container{
        width: 50%;
        height: 100%;
    }

    .mainHeader{
        .header__container{
            width: calc(100% - 65px);
        }
        .header__navigation{
            display: none;
        }
    }
}