@import '../../../../../styles/index.scss';

.ratingCard__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $white-1;
    .ratingCard__user{
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        background-color: $white-1;
    }

}